.falconiumList ul {
    list-style-type: none;
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex; /* use flex layout */
    align-items: center;
}

.accessibility {
    margin-left: auto; /* push it to the right */
    color: white;
    font-size: 34px;
    font-family: 'House of Cards w03';
}

.falconiumList a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: flex;
    text-align: center;
    width: 100%;
    font-family: 'House of Cards w03';
    font-size: 33.65px;
}
.falconiumList a:hover{

    color: black;
    background-color: white;
    font-weight: bold;
}


.navLogo {

    width: 75px;
    height: 75px;
}

.falconiumFooter {
    
    position : fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'House of Cards w03';
    
}

.falconiumFooter ul {

    list-style-type: none;
    background-color: black;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}

.falconiumFooter a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.falconiumFooter a:hover{

    color: black;
    background-color: white;
    font-weight: bold;
}

.falconiumFooter li {

    float: left;
}

body {
    background-color: rgb(24, 23, 23);
}


#navMenu {

    display: none;
}

.menu-icon {

    cursor: pointer;
    font-size: 24px;
    color: white;
}

#navMenu.active {

    display: flex;
    flex-direction: column;
}

.homeAbout {

    color : white;
    width: 50%;
    margin: 0px;
    font-size: 18px;
    text-align: center;
    margin: 0 0;
    float: none;
}

.homeVideoSec {

    width : 30%;
    height : 30%;
    float: left;
    display: none;
}

.homeVideo {

    width: 100%;
    height: 100%;
}


.filler {

    font-family: 'House of Cards w03';
    color: white;
    width: 100%;
    margin: 0px auto;
    animation : popUp 2s

}

@media (min-width : 1248px) {

    .categoryContainer{

        font-family: 'House of Cards w03';
        color: grey;
        font-size: 32px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        
    }

    .homeFeaturedText {

        color: white;
        animation : popUp 2s
    }
    
    #navMenu {
        
        display: flex;
        position: static;
        flex-direction:row;
        background: none;
        width: auto;
        font-size: 32px;
    }
    .menu-icon {
        
        display: none;
    }
    .homeAbout {

        color : white;
        width: 65%;
        float : none;
        margin: 40px;
        font-size: 23px; 
    }
    
    .homeVideoSec {
    
        width : 28%;
        height : 20%;
        float: left;
    }
    
    .homeVideo {
    
        width: 125%;
        height: 125%;
    }

    .homeAboutMain {

        font-size: 28px;
        margin: 40px;
        color: white;
    
    }
    
    .homeFeatured {
    
        font-size: 56px;
        font-family: 'House of Cards w03';
        width: 65%;
        margin: 40px;
        float : right;
        color: grey;
        animation : popDown 2s
    }
    
    .mediaBody {

        color: grey;
        font-family: 'House of Cards w03';
        background-color: white;
        color: black;
        font-size: 42px;
        display: flex;
        justify-content: center;
        animation : popDown 2s
    }

    .mediaBody.dark-mode {

        color: grey;
        font-family: 'House of Cards w03';
        background-color: black;
        color: white;
        font-size: 42px;
        display: flex;
        justify-content: center;
        animation : popDown 2s
    }

    .container {

        display: flex;
        flex-direction: row;
        clear: both;
        animation : popUp 2s
    }


    
.accessibilityDropdown {

    display : flex;
    flex-direction: column;
    margin-left: auto;

}

.accessibility .accessibilityMenu {

    display : none;
    position: absolute;
    background-color: white;
    color: black;
    list-style: none;
    padding: 20px 20px;

}


.accessibilityDropdown:hover .accessibilityMenu{


    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    align-items: center;
    font-size: 29.1px;
    font-family: 'House of Cards w03';
    cursor: pointer;
    color: black;

}

.accessibilityMenu li {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-right: auto;
    padding: 10px;
    
}

    .loginElement {

    margin-left: auto;

    
}

}

@media (max-width : 1248px) {

     .falconiumList ul li {

     width: 100%;

    }

    .accessibility .accessibilityMenu {

        display : none;
        position: absolute;
        background-color: white;
        color: black;
        list-style: none;
        padding: 20px 20px;

    }


    .accessibilityDropdown:hover .accessibilityMenu{


        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        align-items: center;
        font-size: 29.1px;
        font-family: 'House of Cards w03';
        cursor: pointer;
        color: black;

    }

    .accessibilityMenu li {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        margin-right: auto;
        padding: 10px;
        }


    .profileElement {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin-right: auto ;
        width: 100%;

    }

    body {

        font-family: 'House of Cards w03';

    }


    .falconHomeFigure {

        width: 200px;
        height: 200px;
        margin: 0, auto
        

    }

    .falconHomeContainer {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0, auto;

    }


    #navMenu {
        
        display: none;
    }

    #navMenu.active {
        display: flex;
        flex-direction: column;  /* Make items stack vertically */
        align-items: flex-start;  /* Align all items to the left */
        width: 100%;
    }


    .homeAbout {

        color : white;
        width: auto;
        margin: 0px auto;
        font-size: 24px;
        text-align: center;
    }
    
    .homeVideoSec {
    
        width : 100%;
        height : 20%;
        float: left;
    }
    
    .homeVideo {
    
        width: 100%;
        height: 100%;
    }

    .homeAboutMain {

        font-size: 24px;
        margin : 40px auto;
        color: white
    }
    
    .homeFeatured {
    
        font-size: 56px;
        font-family: 'House of Cards w03';
        width: 65%;
        margin: 0 auto;
        color : grey;
        text-align : center

    }

    .mediaBody {

        font-family: 'House of Cards w03';
        background-color: white;
        color: black;
        font-size: 42px;
        display: flex;
        justify-content: center;
        width: auto;
        animation : popDown 2s;

    }

    .mediaBody.dark-mode {

        font-family: 'House of Cards w03';
        background-color: black;
        color: white;
        font-size: 42px;
        display: flex;
        justify-content: center;
        width: auto;
        animation : popDown 2s;

    }

    .container {

        display: flex;
        flex-direction: column;
    }

    .homeFeaturedText {

        color: white;
        font-size: 24px;
        font-family: 'House of Cards w03';
        text-align: center;
        margin: 30px auto;
        width: 65%;
        animation : popUp 2s
    }

    .nav ul {

        list-style: none;
        padding: 0;
        margin: 0;

    }

    .nav ul li {

        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        width: 100%;

    }

    }

.container {
    padding: 2rem
}

.slider-wrapper {
    position: relative;
    max-width: 32rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    text-align : center
}

.slider {
    display: flex;
    width: 100%;
    height: 500px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0%, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom:1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slider-nav a {

    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color : white;
    opacity : 0.25;
    transition: opacity ease 250ms;
}
.slider-nav a:hover {

opacity: 1;
    
}

.ourProductsBody {

    font-size: 56px;
    font-style: bold;
    animation: popDown 2s

    
}


.homeAboutMain {

font-family: cursive;
font-size : 24px;
font-family: 'House of Cards w03';
color: white;
animation: popUp 2s

}

@keyframes popUp {

    from {
        transform: translate(5px, 150px);
        opacity: 0.2;
        color: white;
    }

    to {
        transform: translate(0px, 0px);
        opacity: 1;
        color: grey;
    }
}

@keyframes popDown {

    from {
        transform: translate(5px, -150px);
        opacity 0.2;
        font: italic;
        color: white;
    }

    to {
        transform: translate(0px, 0px);
        opacity: 1;
        font-family: 'House of Cards w03';
        color: grey;
    }
}

.homeFeatured {

    font-size: 56px;
    font-style: italic;
    width: 65%;
}



.loginVisual {

    background-color: white;
}


.falcy1Text {

    background-color: white;
    color: black;
    font-family: 'House of Cards w03';
    text-decoration: none;
    font-size: 34px;
    padding: 4px;
    display: flex;
    flex-direction: row;
}

.falcy1Text.dark-mode {

    background-color: black;
    color: white;
    font-family: 'House of Cards w03';
    text-decoration: none;
    font-size: 34px;
    padding: 4px;
    display: flex;
    flex-direction: row;
}

.falcy2Text{

    background-color: white;
    color: black;
    font-family: 'House of Cards w03';
    text-decoration: none;
    font-size: 33px;
    padding: 4px;
    display: flex;
    flex-direction: row;
}

.falcy2Text.dark-mode{

    background-color: black;
    color: white;
    font-family: 'House of Cards w03';
    text-decoration: none;
    font-size: 33px;
    padding: 4px;
    display: flex;
    flex-direction: row;
}


.falcy3Text {

    background-color: white;
    color: black;
    font-family: 'House of Cards w03';
    text-decoration: none;
    font-size: 34px;
    padding: 4px;
    display: flex;
    flex-direction: row;
}

.falcy3Text.dark-mode {

    background-color: black;
    color: white;
    font-family: 'House of Cards w03';
    text-decoration: none;
    font-size: 34px;
    padding: 4px;
    display: flex;
    flex-direction: row;
}


.infoMenu1 {

    display: none;

}

.infoMenu2 {

    display: none;

}

.infoMenu3 {

    display: none;

}

@keyframes sidewaysFly {

    from {

        opacity: 0;
        transform: translate(200px, 0px);
    }

    to {

        opacity: 1;
        transform: translate(0px,0px);
    }

}

.infoMenu1.activeInfo1 {
    
    display: flex;
    animation: sidewaysFly 2s;
}

.infoMenu2.activeInfo2 {


    display: flex;
    animation: sidewaysFly 2s

}

.infoMenu3.activeInfo3 {

    display: flex;
    animation: sidewaysFly 2s;
}

.infoIcon1 {

    cursor : pointer
}

.infoIcon2 {

    cursor : pointer
}

.infoIcon3 {

    cursor : pointer
}

@font-face {
    font-family: 'House of Cards W03';
    src: url('https://db.onlinewebfonts.com/t/970677c69571772c9e53798ffe5a4aa0.woff2') format('woff2'),
         url('https://db.onlinewebfonts.com/t/970677c69571772c9e53798ffe5a4aa0.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
.profileElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Space between items */
    margin-left: auto;
}

.profileName {
    color: white;
    font-family: 'House of Cards w03', sans-serif;
    font-size: 42px;
}

.logoutLink {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'House of Cards w03';
    cursor: pointer;
    transition: color 0.3s ease;
}

.logoutLink:hover {
    color: black;
    background-color: white;
}

.ourProductsDropdown {

    display : flex;
    flex-direction: column;

}
.ourProducts .ourProductsMenu {

    display : none;
    position: absolute;
    background-color: white;
    color: black;
    list-style: none;
    padding: 20px;

}

.ourProductsDropdown:hover .ourProductsMenu{


    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    align-items: center;
    font-size: 29.1px;
    font-family: 'House of Cards w03';
    cursor: pointer;

}

.ourProductsDropdown:hover .ourProductsMenu a{


    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    align-items: center;
    font-size: 25.6px;
    font-family: 'House of Cards w03';
    cursor: pointer;

}

.ourProductsMenu li {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    padding: 10px;
}

.ourProductsMenu li a {

    color: black;
    background-color: white;
    text-decoration: none;
}

/* Default colors for the dark-mode */
body.dark-mode {
  background-color: white;
  color: black;
}

body.dark-mode a {
  color: black;
  background-color: rgb(247, 246, 246);
}

body.dark-mode a:hover {
  color: white;
  background-color: black;
}


/* Dark mode specific styling for .whoWeAre */
.whoWeAre.dark-mode {
  background-color: black;
  color: white;
}

.homeAboutMain.dark-mode {

    color: black

}

.filler.dark-mode {

    color: black;
}

.homeFeatured.dark-mode {

    color: white;
    background-color: black;
}

.homeFeaturedText.dark-mode {

    color: black;
}

.body.vanilla-font {

    font-family: none;
}

.flipColorButton {

    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    font-family: 'House of Cards w03';
    background-color: black;
    color: white;
    cursor: pointer;
}

.flipColorButton:hover {

    background-color: white;
    color: black;

}

.vanillaFontButton {

    background-color: lightyellow;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;

}

.vanillaFontButton:hover {

    background-color: black;
    color: lightyellow;

}

.fontSizeButton {

    font-family: 'House of Cards w03';
    outline: none;
    border: none;
    background-color: purple;
    color: white;
    font-size: 24.2px;
    cursor: pointer;

}

.fontSizeButton:hover {

    background-color: white;
    color: purple;

}

.ourProductsMenu li a {

    color: black;
    background-color: white;
    text-decoration: none;
}

.footerMain {
    display: flex;
    flex-direction: row;
    background-color: rgb(34, 34, 34);
    justify-content: space-around;
    font-family: 'House of Cards w03';
    width: 100%;
}

.footerMain h1 {

    color: white;
    font-size: 24px;
}

.footerMain ul li a {

     text-decoration: none;
     font-size: 18px;
}

.footerMain ul li a:hover{

    background-color: white;
    color: black;
    transition: .5s;

}

.socialMedia{

    display: flex;
    flex-direction: row;
    padding: 40px 0;
    gap: 20px;
}


.socialMedia a {

    width: 50px;
    height: 50px; 
    background-color: transparent;
    color: white;
}

.socialMedia li a {

    border-radius: 50%;
    border-color: white;
    border-style: solid;
    font-size: 14px;
    border: 2px;
    
}

.footerMain ul {

    list-style-type: none;
}

.footerMid ul li a {

    color: white;
}

.footerMidRight a {

    text-decoration: none;
    color: white;

}

.footerMidButton {
    display: none;
}

.newsButton {

    display: none;
}

.connectButton {
    display: none;
}

.footerLogo h1 {

     display: none;
}

@media (max-width : 1024px) {
    
    .footerMain {

        display : flex;
        flex-direction : column
    }


    .socialMedia {

        display: none;
    }

    .socialMedia.active {
        
        display: block;
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 10px;
        
    }

    .connectButton:hover {
        cursor: pointer;
        color: purple;
    }

    .services {
        display: none;
    }

    .services.active {
        
        display: block;
        display: flex;
        flex-direction: column;
        
    }

    .news {
        
        display: none;
    }

    .news.active {
        
        display: block
    }

    .footerMidButton {
        display: inline;
        margin-left: auto;
        float: right;
    }

    .newsButton {

        display: inline;
        margin-left: auto;
        float: right;
        cursor: pointer;
    }

    .connectButton {
        display: inline;
        margin-left: auto;
        float: right;
    }

    .connectButton:hover {
        
        animation: rotate 1s;
        transition: 2s;
    }

    .footerMidButton:hover {

        animation: rotate 1s;
        color: purple;
        transform: 2s;
        cursor: pointer;
    }

    .newsButton:hover {

        animation: rotate 1s;
        color: purple;
        transition: 2s;
    }



    .connectButton:hover {

        animation: rotate 1s;
    }

    @keyframes rotate {

        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .footerLogo h1{

     display: flex;
     justify-content: center;
     align-content: center;
     font-size: 56px;
     color: black;
}

    .footerLogo {

        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
    }


}

.footerMain.dark-mode {

    background-color: whitesmoke;
    
}

.footerMain.dark-mode a {

    color: black;
    
}

.footerMain.dark-mode a:hover{

    background-color: black;
    color: white;
    
}

.footerMain.dark-mode h1{

    color: black;
    
}
